doctype html
html
	head
		meta(charset = "utf-8")
		link(rel = 'stylesheet', type = 'text/css', href = 'css/main.css')
	body
		.pad
			.leftPad#title
				#title-container
					img#botfather(src = "images/botfather.png")
					br
					#title-name НАПИСАНИЕ БОТОВ ДЛЯ TELEGRAM
					#tech-name С ПОМОЩЬЮ
					#tech
						img#nodejs(src = "images/nodejs.svg")
						span#and-name И
						img#coffeescript(src = "images/coffeescript.svg")
			.rightPad#back